h2{
    background-color: red;
    margin-left: 5px;
    white-space: pre;
}
.galleryItem {
    /* background-color: black; */
    /* margin: 5px 10px; */
    /* height: 250px; */
    /* max-width: 80%; */
    /* border: 1px solid black; */
    overflow: hidden;
    /* margin-right: 10px; */
    /* padding-right: 10px; */
    /* display: block;s */
    margin: auto;
    padding: 0 5px;
}
.galleryItem .img{
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}
.galleryItem img{
    text-align: center;
    margin: auto;
    max-width: 450px;
    height: 500px;

}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 250px; */
    width: 80%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(43, 142, 247,0.3);
}
.galleryItem:hover .overlay {
    opacity: 1;
  }